body {
    background-color: powderblue;
}

a {
    text-decoration: none;
}

.header1 {
    background-color: black;
    height:100px;
}

.prinsbook {
    background-color: red;
    color:goldenrod;
    padding: calc(-30px);
    margin-top: calc(-95px);
    margin-left: 120px;
    font-size: 80px;
    height:0px
}

.settings {
    float: right;
    margin-top:calc(-75px);
    margin-right: calc(30px);
    background-color: black;
    height:50px
}

.profile {
    float: right;
    margin-top:calc(-72px);
    margin-right: calc(110px);
    font-size:50px;  
    background-color: transparent;
    
}

.menu {
    color: black;
    font-size: 40px;
    width:20%;
    background-color: pink;
    margin-top: calc(-20px);
}

.projects {
    margin-left:calc(-20px)
}

.chapters {
    margin-left: 30px;
}

.calc a:hover{
    color:purple
}

.displayarea {
    background-color: black;
    margin-top: calc(-504px);
    margin-left:calc(320px);
    width: 78%;
    height: 463px;
    
    
}